.section{
    width: 100%;
    max-width: 1280px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

@media (max-width: 900px){
    .section{
        height: 100%;
        padding-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
}