.container_home_dois{
    width: 100%;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_home_dois h1{
    color: var(--Branco);
    font-family: "PT Sans", sans-serif;
}